h1, h2 {
    font-weight: normal;
    font-size: 300%;
  }
  
  li {
    margin-top: 10px;
  }
  a {
    color: #42b983;
  }
  .firstrow{
      margin-top: 10%;
  }
  
  .registerButton{
      padding-left: 8%;
      padding-right: 8%;
      border-radius: 45%;
  }
  
  .w3-tangerine {
      font-family: 'Tangerine', serif;
  }
  
  .mainText{
      margin-top: 5%;
  }
  .container-fluid {
      padding: 0;
  }
  .container{
      margin-bottom: 50px;
  }
  .middle{
      margin-top: 150px;
  }
  .lastrow{
      margin-bottom: 150px!important;
  }